<html>
    <head>
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/templates.css">
    </head>
    <body>
        <header>
        <div>
            <img class="head-image" src="../image/family.jpg">
        </div>
        </header>
        <div class="container">
            <h1>It is clear that feelings of love, affection, closeness and compassion bring happiness</h1>

            <p>It is clear that feelings of love, affection, closeness and compassion bring happiness. I believe that every one of us has the means to be happy, to access the warm and compassionate states of mind that bring happiness. In fact, it is one of my fundamental beliefs that not only do we inherently possess the potential for compassion, but I believe that the basic or underlying nature of human beings is gentleness.</p>

            <p>Whether we like it or not, we have all been born on this earth as part of one great human family. Rich or poor, educated or uneducated, belonging to one nation or another, to one religion or another, adhering to this ideology or that, ultimately each of us is just a human being like everyone else: we all desire happiness and do not want suffering. Furthermore, each of us has an equal right to pursue these goals.</p>

            <p>With the ever growing impact of science on our lives, religion and spirituality have a greater role to play reminding us of our humanity. There is no contradiction between the two. Each gives us valuable insights into the other. Both science and the teachings of the Buddha tell us of the fundamental unity of all things.</p>
            

            <a href="photos-videos.html">
                <div class="custom-button-container">
                    <img src="../image/border.png">
                    <div class="text-block">
                        <p>Photos et vidéos du mariage</p>
                    </div>
                </div>
            </a>

            <a href="../index.html">
                <div class="custom-button-container">
                    <img src="../image/border.png">
                    <div class="text-block">
                        <p>Retour à la page d'accueil</p>
                    </div>
                </div>
            </a>

        </div>
    </body>
</html>