<html>
    <head>
        <link rel="stylesheet" href="../css/common.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <header>
        <div>
            <img class="head-image" src="../image/family.jpg">
        </div>
        </header>
        <div class="container">
            <h1>Comming soon</h1>

            <p>
                Photos from freepik<br>
                <a href='https://www.freepik.com/photos/flower'>Flower photo created by teksomolika - www.freepik.com</a><br>
                <a href='https://www.freepik.com/photos/background'>Background photo created by tirachard - www.freepik.com</a>
            </p>

            <a href="../index.html">
                <div class="custom-button-container">
                    <img src="../image/border.png">
                    <div class="text-block">
                        <p>Retour à la page d'accueil</p>
                    </div>
                </div>
            </a>
        </div>
    </body>
</html>